* {
    
    box-sizing: border-box;
    resize: both;
  }





.first {
 text-align: justify;
 display: inline-block;
background-color: lightgrey;
margin-left: 200px;
margin-right: 200px;
padding-bottom: 70px;
border-style: solid;
border: 15px solid rgba(189, 169, 169, 0);
resize: both;


}

.button {

}


        .header {
            display: inline-block;
            width: 100%;
           
            font-size: 10px;
            text-align: center;
            
            display: inline-block;
            background-color: lightgrey;
           border-style: solid;
           resize: horizontal;
        }
            
@media screen and (max-width: 800px) {
    .header  {

        margin: 0%;
                    
    }
    .first{
        margin : 0%;
   
    }
}

